npm-debug.log

.DS_Store
.idea
.settings/

*.log
*.heapsnapshot
*.sock
logs/*
reports/*
tmp/*

benchmark/
examples/
test/
.travis.yml
Makefile
TODO
.gitignore
.editorconfig
.eslintconfig
.eslintrc.js
.git/
src/
