npm-debug.log

.DS_Store
.idea
.settings/

*.log
*.heapsnapshot
*.sock
logs/*
reports/*
tmp/*

examples.js
examples/
test/
.gitignore
.editorconfig
.eslintconfig
.eslintrc.js
.eslintignore
.git/
src/
